*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    display: flex;
    padding: 15px;
    background-color: antiquewhite;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    border: 2px solid #bebebecb;
    border-radius: 10px;
    width: calc(25% - 30px);
    margin: 15px;
    padding: 15px;
    cursor: pointer;
}

.item__wrap{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item__img{
    position: relative;
    padding-bottom: 200px;
}

.item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.myForm{
    display: flex;
    padding: 15px;
    flex-direction: column;
}
